# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
-Popular Languages for Data Science
-Commonly Used Data Science Libraries
-Open Source Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. TensorFlow

|Data Science Tools|
|------------|
|R|
|Python|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5
#This is a simple arithmetic expression to multiply then add integers.

17

In [4]:
#This will convert 200 minutes into hours by diving by 60
min=200 #minutes
hours=min/60 #hrs
print(hours)

3.3333333333333335

## Author
Jethro Tannis